.App {
  text-align: center;
}

.Main-content > ul {
  text-align: left;
  margin: 10%;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  background-color: royalblue;
  /* min-height: 100vh; */
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  justify-content: space-between;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.App-header-items {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.App-header-items > li {
  padding: 0px 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 3s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Footer {
  align-items: baseline;
  background-color: royalblue;
  text-align: center;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
}
