nav {
  display: flex;
  align-items: center;
  background-color: #21222a;
  height: 90px;
  padding: 30px 25px;
}

.nav-logo-title,
.nav-title {
  margin: 0;
}
.nav-logo-title {
  margin-right: auto;
  color: #61dafb;
  font-weight: 700;
  font-size: 22px;
}

.nav-title {
  color: #deebf8;
  font-weight: 600;
}

.nav-logo {
  height: 60px;
  animation: nav-logo-rotation 8s infinite linear;
}

@keyframes nav-logo-rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
