* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #282d35;
  font-family: "Inter", sans-serif;

  background-image: url("./images/logo.svg");
  background-repeat: no-repeat;
  background-position: right 100%;
  /* background-size: 90%; */
  background-position-x: 650%;
  background-blend-mode: color-burn;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
