* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #282d35;
  font-family: "Inter", sans-serif;

  background-image: url("./images/logo.svg");
  background-repeat: no-repeat;
  background-position: right -50% top 50%;
  background-size: 50%;
  background-blend-mode: color-burn;
  /* animation: nav-logo-rotation 8s infinite linear; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
